@tailwind base;
@tailwind components;
@tailwind utilities;

:root, :root[data-theme="light"] {
  --color-primary: rgb(23, 223, 230);
  --color-bg: rgb(255, 255, 255);
}

:root[data-theme="dark"] {
  --color-primary: rgb(61, 117, 135);
  --color-bg: rgb(48, 56, 65);
}

body {
  color: var(--color-primary);
  background-color: var(--color-bg)
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
